* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif  ;
}

/* NAVBAR */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #000;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
	margin-right: 20px;
    padding: 20px 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    letter-spacing: 0.5px;
}

nav ul li a:hover {
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
}

/* Hero Banner */

#hero {
    width: 100%;
    height: 805px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 32px;
}

.hero-box {
    width: 50%;
    margin-top: 200px;
    margin-left: 180px;
}

.hero-box .hero-heading {
    color: #fff;
    font-size: 50px;
    line-height: 64px;
    font-family: 'Poppins', sans-serif;
}

.hero-box .hero-job {
    color: #fff;
    font-size: 24px;
    line-height: 64px;
}

.hero-box .hero-desc {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    padding: 30px 0;
}

.hero-box .btn-box {
    margin-top: 60px;
}

.hero-box .btn-box a {
    text-decoration: none;
}

.hero-box .cta-btn {
    background: #fff;
    margin-right: 30px;
    padding: 15px 40px;
    border-radius: 50px;
    color: #2e2c2c;
}

.hero-box .cta-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

.hero-box .demo {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
}

/* About */
main {
    margin-top: 60px;
}

.page-title {
    text-align: center;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 200px;
    color: #000;
    line-height: 1.6;
}

.social-links {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

.social-links a {
    padding: 0 16px 0 0;
    color: #000;
    font-size: 1.5rem;
}

.social-links a:hover {
    color: #747474;
}

.skill {
    margin: 100px auto;
    width: 800px;
    color: #000;
    padding: 20px;
    box-shadow:  0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    align-items: center;
}

.skill h2 {
    text-align: center;
}

.skill li {
    margin: 20px 0;
    padding: 10px;
    list-style: none;
}

.bar {
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8);
}

.bar:hover {
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);   
}

.bar span {
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100%);
}

.html {
    width: 90%;
    animation: html 3s;
}

.css {
    width: 70%;
    animation: css 3s;
}

.php {
    width: 45%;
    animation: php 3s;
}

.javascript {
    width: 60%;
    animation: javascript 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes php {
    0% {
        width: 0%;
    }
    100% {
        width: 45%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

/* Portfolio */
.projects {
    margin-top: 60px;
    margin-left: 450px;
    text-align: left;
}
.projects p {
    font-size: 18px;
}

.projects-detail {
    margin-top: 20px;
    margin-left: 450px;
}

.projects-detail ul li a{
    color: #000;
}

/* Articles */
.articles {
    margin-top: 60px;
    margin-left: 450px;
}
.articles p {
    font-size: 18px;
}

section {
    margin-right: 400px;
}

article a, p{
    color: #000;
    margin-bottom: 1.5em;
}